@model CourseModel

<h1>@ViewData["Title"]</h1>

<label>
    @Html.DisplayNameFor(Model => Model.Id);
</label>
<p>@Model.Id</p>

<label>
    @Html.DisplayNameFor(Model => Model.CourseCode);
</label>
<p>@Model.CourseCode</p>


<label>
    @Html.DisplayNameFor(Model => Model.CourseName);
</label>
<p>@Model.CourseName</p>
